body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f4f4;
    height: 100vh;
}

h1 {
    margin: 20px;
}

#content {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 10px;
    background-color: white;
}

.form-group {
        text-align: left;
        width: 80%;
        margin: 20px auto;
}

.form-check {
    margin: 0 auto;
}

button {
    width: 80%;
    margin: 0 auto 20px auto;
}

.error {
    background-color: #f8d7da;
    color: #842029;
    padding: 10px;
    border-radius: 6px;
    margin: 15px auto;
    border: 1px solid #f5c2c7;
    font-size: 14px;
    width: 80%;
}